/* 
    Document   : style2
    Created on : 2 Mar, 2013, 10:06:07 AM
    Author     : manu
    Description:
        Purpose of the stylesheet follows.
*/

.FooterBar-link a {
    margin: 15px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.FooterBar-link a:hover {
    text-decoration: underline;
}

.FooterBar{
    position: absolute;
    vertical-align: bottom;
    width: 960px;
    background-color: #0072C6;
    box-shadow: 5px 5px 4px #888888;
    padding: 8px;
    opacity: .8;
}

.Base-searchbar{
    margin: auto auto;
}
.Base-searchbar input {

}
