/* 
    Document   : style2
    Created on : 2 Mar, 2013, 10:06:07 AM
    Author     : manu
    Description:
        Purpose of the stylesheet follows.
*/

.Footer-link a {
    padding: 15px;
    text-decoration: none;
    color: #444444;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.FooterBar{
    position: absolute;
    vertical-align: bottom;
    width: 960px;
    background-color: #ffffff;
    box-shadow: 5px 5px 4px #888888;
    padding: 8px;
}

.Base-searchbar{
    margin: auto auto;
}
.Base-searchbar input {

}