/* 
    Document   : style
    Created on : Mar 2, 2013, 4:20:31 AM
    Author     : Satyam Sharan<satyam.sharan@hotmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border:none;
    color: #444444;
    background-image: url('images/back.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom; 
}
table,tbody,tr,td{
    border: none;
}
#baseDiv{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 1000px;
    border: none;
}

.HeaderBar{
    width: 960px;
    background-color: #ffffff;
    box-shadow: 5px 5px 4px #888888;
    padding: 8px;
}

.HeaderBar-hp{
    float: right;
}

.HeaderBar-Link a{
    text-decoration: none;

    color: #444444;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.HeaderBar-city{
    color: #444444;
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.HeaderBar-dialog{
    width: 25%;
    height: 20%;
    border: 1px solid;
    background: #000000;
    box-shadow: 5px 5px 4px #888888;
    opacity: .4;
}

.HeaderBar-glassStyle{
    position: fixed;
    background-color: #000000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: .4;
}
.HeaderBar-dialog{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 5px 5px 4px #888888;
    opacity: 1;
}